VideoPlahform/VideoClient/VideoClient/Service References/DownLoadServiceReference/metadata31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://video.pandawork.net/download/" elementFormDefault="qualified" targetNamespace="http://video.pandawork.net/download/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://video.net:9999/downLoadService/metadata?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="DownLoadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownLoadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="DownLoadFileResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownLoadInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownLoadInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDownLoadInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>