VideoPlahform/VideoClient/VideoClient/Service References/DownLoadServiceReference/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://video.pandawork.net/download/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://video.pandawork.net/download/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://video.pandawork.net/download/Imports">
      <xsd:import schemaLocation="http://125.222.219.238:9999/downLoadService/metadata?xsd=xsd0" namespace="http://video.pandawork.net/download/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/downLoadService/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/downLoadService/metadata?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DownLoadService_DownLoadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFile" />
  </wsdl:message>
  <wsdl:message name="DownLoadService_DownLoadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownLoadService_GetDownLoadInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownLoadInfo" />
  </wsdl:message>
  <wsdl:message name="DownLoadService_GetDownLoadInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownLoadInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="DownLoadService">
    <wsdl:operation name="DownLoadFile">
      <wsdl:input wsaw:Action="http://video.pandawork.net/download/DownLoadService/DownLoadFile" message="tns:DownLoadService_DownLoadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/download/DownLoadService/DownLoadFileResponse" message="tns:DownLoadService_DownLoadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownLoadInfo">
      <wsdl:input wsaw:Action="http://video.pandawork.net/download/DownLoadService/GetDownLoadInfo" message="tns:DownLoadService_GetDownLoadInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/download/DownLoadService/GetDownLoadInfoResponse" message="tns:DownLoadService_GetDownLoadInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>