VideoPlahform/VideoClient/VideoClient/Service References/MapServiceReference/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MapDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfMapDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pid" type="xs:int" />
      <xs:element minOccurs="0" name="Posx" type="xs:int" />
      <xs:element minOccurs="0" name="Posy" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapDTO" nillable="true" type="tns:MapDTO" />
  <xs:complexType name="ArrayOfMapDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MapDTO" nillable="true" type="tns:MapDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMapDTO" nillable="true" type="tns:ArrayOfMapDTO" />
</xs:schema>