VideoPlahform/VideoClient/VideoClient/Service References/UpLoadServiceReference/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://video.pandawork.net/upload/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://video.pandawork.net/upload/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://video.pandawork.net/upload/Imports">
      <xsd:import schemaLocation="http://125.222.219.238:9999/upLoadService/metadata?xsd=xsd1" namespace="http://video.pandawork.net/upload/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/upLoadService/metadata?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/upLoadService/metadata?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/upLoadService/metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FileSize" element="tns:FileSize" />
    <wsdl:part name="FileUniqueID" element="tns:FileUniqueID" />
    <wsdl:part name="SavePath" element="tns:SavePath" />
  </wsdl:message>
  <wsdl:message name="UpLoadService_GetUploadFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="UpLoadService_GetUploadFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadFileInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="UpLoadService">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://video.pandawork.net/upload/UpLoadService/UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadFileInfo">
      <wsdl:input wsaw:Action="http://video.pandawork.net/upload/UpLoadService/GetUploadFileInfo" message="tns:UpLoadService_GetUploadFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/upload/UpLoadService/GetUploadFileInfoResponse" message="tns:UpLoadService_GetUploadFileInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>