VideoPlahform/VideoClient/VideoClient/Service References/UserServiceReference/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://video.pandawork.net/user/" elementFormDefault="qualified" targetNamespace="http://video.pandawork.net/user/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://125.222.219.238:9999/userService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" />
  <xs:element name="verifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyUserResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserAndAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="user" nillable="true" type="q1:User" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="accList" nillable="true" type="q2:ArrayOfAcc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserAndAccResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="user" nillable="true" type="q4:User" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="accList" nillable="true" type="q5:ArrayOfAcc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="getAllUsersResult" nillable="true" type="q6:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserAndAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="user" nillable="true" type="q7:User" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="accList" nillable="true" type="q8:ArrayOfAcc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserAndAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserAndAccResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="user" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="addUserResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>