VideoPlahform/VideoClient/VideoClient/Service References/DeviceServiceReference/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmdPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GateWay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MapId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posx" type="xs:int" />
      <xs:element minOccurs="0" name="Posy" type="xs:int" />
      <xs:element minOccurs="0" name="ProbePort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubNet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceDTO" nillable="true" type="tns:DeviceDTO" />
  <xs:complexType name="ArrayOfDeviceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceDTO" nillable="true" type="tns:DeviceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceDTO" nillable="true" type="tns:ArrayOfDeviceDTO" />
</xs:schema>