VideoPlahform/VideoClient/VideoClient/Service References/DeviceServiceReference/metadata41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://video.pandawork.net/device/" elementFormDefault="qualified" targetNamespace="http://video.pandawork.net/device/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://video.net:9999/deviceService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" />
  <xs:import schemaLocation="http://video.net:9999/deviceService/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" />
  <xs:element name="addDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="device" nillable="true" type="q1:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDeviceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeviceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeviceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" minOccurs="0" name="getDeviceByIdResult" nillable="true" type="q2:DeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" minOccurs="0" name="device" nillable="true" type="q3:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" minOccurs="0" name="getAllDevicesResult" nillable="true" type="q4:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDevicesOnMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDevicesOnMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" minOccurs="0" name="getDevicesOnMapResult" nillable="true" type="q5:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDevicesByRegionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDevicesByRegionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" minOccurs="0" name="getDevicesByRegionIdResult" nillable="true" type="q6:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>