VideoPlahform/VideoClient/VideoClient/Service References/RegionServiceReference/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://video.pandawork.net/region/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://video.pandawork.net/region/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://video.pandawork.net/region/Imports">
      <xsd:import schemaLocation="http://125.222.219.238:9999/regionService/metadata?xsd=xsd0" namespace="http://video.pandawork.net/region/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/regionService/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/regionService/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.entity" />
      <xsd:import schemaLocation="http://125.222.219.238:9999/regionService/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegionService_addRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:addRegion" />
  </wsdl:message>
  <wsdl:message name="RegionService_addRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRegionResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_getRegionById_InputMessage">
    <wsdl:part name="parameters" element="tns:getRegionById" />
  </wsdl:message>
  <wsdl:message name="RegionService_getRegionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_updateRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRegion" />
  </wsdl:message>
  <wsdl:message name="RegionService_updateRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRegionResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_delRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:delRegion" />
  </wsdl:message>
  <wsdl:message name="RegionService_delRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:delRegionResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_getAllRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllRegions" />
  </wsdl:message>
  <wsdl:message name="RegionService_getAllRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_findChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:findChildren" />
  </wsdl:message>
  <wsdl:message name="RegionService_findChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:findChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="RegionService_createTreeById_InputMessage">
    <wsdl:part name="parameters" element="tns:createTreeById" />
  </wsdl:message>
  <wsdl:message name="RegionService_createTreeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTreeByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="RegionService">
    <wsdl:operation name="addRegion">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/addRegion" message="tns:RegionService_addRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/addRegionResponse" message="tns:RegionService_addRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRegionById">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/getRegionById" message="tns:RegionService_getRegionById_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/getRegionByIdResponse" message="tns:RegionService_getRegionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRegion">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/updateRegion" message="tns:RegionService_updateRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/updateRegionResponse" message="tns:RegionService_updateRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delRegion">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/delRegion" message="tns:RegionService_delRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/delRegionResponse" message="tns:RegionService_delRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllRegions">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/getAllRegions" message="tns:RegionService_getAllRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/getAllRegionsResponse" message="tns:RegionService_getAllRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findChildren">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/findChildren" message="tns:RegionService_findChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/findChildrenResponse" message="tns:RegionService_findChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTreeById">
      <wsdl:input wsaw:Action="http://video.pandawork.net/region/RegionService/createTreeById" message="tns:RegionService_createTreeById_InputMessage" />
      <wsdl:output wsaw:Action="http://video.pandawork.net/region/RegionService/createTreeByIdResponse" message="tns:RegionService_createTreeById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>