VideoPlahform/VideoClient/VideoClient/Service References/RegionServiceReference/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoCommon.com.pandawork.common.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfRegionDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionDTO" nillable="true" type="tns:RegionDTO" />
  <xs:complexType name="ArrayOfRegionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionDTO" nillable="true" type="tns:RegionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegionDTO" nillable="true" type="tns:ArrayOfRegionDTO" />
</xs:schema>